/* Importar a fonte Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Estilos Globais */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E5E5E5;
}

/* AppBar */
.app-bar {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.app-bar-logo img {
    max-height: 40px;
}

.app-bar-title {
    flex-grow: 1;
    text-align: center;
}

.app-bar-title h1 {
    margin: 0;
}


.login-button {
    color: #fff; /* Cor de fundo do botão de login */
    background-color: #007bff; /* Cor do texto do botão de login */
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.subtitulo {
    width: 420px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    padding: 20px;
    margin-top: 30px;
    border-radius: 5px;
}

.subtitulo p {
    margin: 0;
}

/* Cards */
.cards-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.card {
    background-color: #ffffff;
    border-radius: 5px;
    width: 385px;
    height: 427px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
    margin: 10px;
}

.card h2 {
    margin: 0;
    margin-bottom: 10px;
}

.card img {
    max-width: 100%;
}

.h2-exemplo {
    padding-left: 14%;
    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
}

/* Estilos do Formulário */
.formulario {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 0 14% 3% 14%;
    background-color: #f0f0f0;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

/* Estilos dos Campos */
.campo {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    text-align: center;
}

.campo label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.campo input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container-centralizado {
    width: 650px;
    height: 500px;
    background-color: #f0f0f0;
    margin: 20px auto; /* Centraliza verticalmente e alinha ao centro horizontalmente */
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Adiciona sombra */
}

.botao-centralizado {
    text-align: center;
    margin-top: 20px; /* Espaço entre os campos e o botão */
}

.botao-centralizado button {
    padding: 15px;  
    margin-bottom: 3%;
    background-color: #007bff; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-button {
    color: #fff; /* Cor de fundo do botão de login */
    background-color: #007bff; /* Cor do texto do botão de login */
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.botao-centralizado button:hover {
    background-color: #0056b3; /* Cor de fundo do botão ao passar o mouse */
}

/* Media query para dispositivos móveis */
@media screen and (max-width: 768px) {
    /* Redefina os estilos para dispositivos móveis aqui */
    .app-bar {
        padding: 10px; /* Reduza o padding */
    }

    .app-bar-logo img {
        max-height: 30px; /* Reduza o tamanho do logotipo */
    }

    .subtitulo {
        width: 90%; /* Ajuste a largura para ocupar mais espaço em dispositivos móveis */
        padding: 10px; /* Reduza o padding */
        margin-top: 15px; /* Aumente a margem superior */
    }

    .cards-container {
        flex-direction: column; /* Empilhe os cards verticalmente em telas pequenas */
    }

    .card {
        width: 90%; /* Ajuste a largura para ocupar mais espaço em dispositivos móveis */
        margin: 10px auto; /* Centralize horizontalmente */
        height: auto; /* Ajuste a altura automaticamente */
    }

    .formulario {
        flex-direction: column; /* Empilhe os campos verticalmente em telas pequenas */
        padding: 35px; /* Reduza o padding */
        margin: 0; /* Remova a margem horizontal */
    }

    .login-button {
        margin-top: 10px;
        padding: 10px 35px;
    }

    .container-centralizado {
        width: 350px;
        height: 200px;
        background-color: #f0f0f0;
        margin: 20px auto; /* Centraliza verticalmente e alinha ao centro horizontalmente */
        padding: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Adiciona sombra */
    }

    .h2-exemplo {
        padding-left: 14%;
        font-size: 18px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .app-bar {
        flex-direction: column;
    }
}